$primary-color: color("teal", "lighten-1");
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: color("red", "darken-4");

$roboto-font-path: "~materialize-css/fonts/roboto/";